.image-container {
	display: flex;
	background-image: url('/img/loading.gif') !important;
	background-repeat: no-repeat;
	background-position: center center;
}
#folder .image-container img {
	aspect-ratio: 1;
	width: 100%;
}
#media-item {
	text-align: center;
}
#media-item .image-container {
	/* height of loading indicator */
	min-height: 32px;
}
#media-item .image-container img {
	max-height: 85vh;
	max-width: 100%;
}
